
section {
    text-align: left;
}

body body {
     height: 200px;
    width: 200px;
    border-radius: 200%;
}

.inline-style {
  color: red;
}

#internal-style {
  color: orange;
}

.external-style {
  color: yellow;
}


.class_name {
background-color: green;

}
  .sublime {
  border: 1px solid blue;
}

.postman {
  border: 1px solid blue;
}

.heroku {
  border: 1px solid blue;
}


.gitlab {
  border: 1px solid blue;
}
 

